#/usr/bin/env python
# encoding: utf-8
"""
$modlc - 

@date: $date
@author: Vladimir Roncevic
@contact: <elektron.ronca@gmail.com>
@copyright: $year Free software to use and distributed it.
@license: GNU General Public License (GPL)
@deffield: updated: Updated
"""


